<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hyper news</title>
</head>
<body>
    <h2>Hyper news</h2>
    <form melhod="get">{% csrf_token %}
        <p>Search news:</p>
        <input type="text" name="q" size="50" required>
        <button type="submit">Search</button>
    </form>
    {% regroup news_array|dictsortreversed:"created" by created|slice:":10" as news_list %}
    {% for created in news_list %}
        <h4>{{ created.grouper }}</h4>
        <ul>
            {% for news in created.list %}
                <li><a href="/news/{{ news.link }}/">{{ news.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
    <br>
    <a href="/news/create/">Create News</a>
</body>
</html>